.navbar-text {
  margin-right: 0.75em;
}

.calendarRow {
  display: flex;
  flex-direction: row;
}

.react-calendar {
  width: 90%;
  margin-top: 6.7em;
  margin-left: 1em;
  margin-right: 0;
  border: 1px solid #dee2e6;
  font-size: 0.8rem !important;
  padding-right: 0em;
  padding-left: 0em;
}

.datePicker {
  width: 40%;
}