html, body, #root, .main  {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.main {
  display: grid;
  grid-template-columns: 350px 1fr;
  grid-template-rows: 1fr 10fr;
  gap: 1em;
}

.main > div {
  padding: 10px;
}

.navbar-container {
  grid-column: 1/3;
}

.navbar-brand {
  flex: 1;
  font-size: 2rem !important;
}

.navbar-text {
  margin-right: 1em;
}

.datepicker-container {
  padding-top: 4em !important;
}

.calendar-container {
  display: grid;
  align-items: center;
  justify-items: center;
  background: #fff !important;
}

.react-calendar {
  border: 0;
}

.spinner-container {
  display: grid;
  grid-column: 1/3;
  justify-items: center;
  align-items: center;
}