/*.fc {
  margin-top: 1.5em;
  margin-left: 1em;
  margin-right: 1em;
}

.fc-day.fc-today {
  background: #FFF !important;
}

.fc-day-header.fc-today {
  background: #007bff;
  color: #FFF;
}*/

/*.fc-scroller {
  overflow: auto auto !important;
}*/